@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --sans: 'Josefin Sans', sans-serif;
}

.container{
    max-width: 1100px;
    margin: auto;
}

/*ONE CSS START*/

#one{
    background-color: #ecf6fe;
   
}
#one .row .div1 a{
    font: 300 15px var(--sans);
    line-height: 35px;
    color: #008aff;
    text-decoration: none;
}

#one .row .div2 a{
    display: inline;
   
    margin-left: 15px;
}


/*HEADER CSS START*/

header{
    background-image: url('../img/image1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 20%;
}

header .two{
    display: flex;
    justify-content: space-between;
}

header ul li a{
    font: 400 16px var(--sans);
    text-decoration: none;
    margin-left: 25px;
}

header .two ul li{
    display: inline;
}

header .active{
    color: #fff;
    background-color: #008aff;
    padding: 15px 30px;
    border-radius: 50px;
}

header .three p{
    font: 400 24px var(--sans);
    color: #008aff;
}

header button{
    font: 400 16px var(--sans);
    color: #474747;
    background-color: #ffe824;
    border-radius: 50px;
    padding: 15px;
    border: none;
}

header .three h3{
    margin-top: 195px;
    font: 300 33px var(--sans);
    color: #008aff;
}

header .three h1{
    font: 400 68px var(--sans);
    color: #13287e;
    margin: 40px 0 60px;
}

header .three p{
    font: 300 20px var(--sans);
    width: 670px;
    line-height: 35px;
    color: #474747;
    margin-bottom: 16px;
}

header .three button{
    font: 400 14px var(--sans);
    color: #474747;
    padding: 30px 60px;
    margin-bottom: 100px;
}



/*SECTION1 CSS START*/

#section1{
    padding: 55px 0 150px 0;
    border-bottom: 1px solid #d8d8de;
}

#section1 .four h3{
    font: 400 33px var(--sans);
    color: #008aff;
    text-align: center;
}

#section1 .four h4{
    font: 300 20px var(--sans);
    color: #474747;
    text-align: center;
    margin-bottom: 60px;
}

#section1 .four p{
    font: 300 20px var(--sans);
    width: 515px;
    line-height: 35px;
    color: #474747;
    margin: 65px 0 55px 0;
}

#section1 .sekil ul li{
    width: 187px;
    font-size: 20px;
    line-height: 35px;
    color: #008aff;
    font-weight: 300;
    font-family: "Josefin Sans";
}

#section1 .sekil ul li a{
    text-decoration: none;
}

#section1 button{
    font: 400 16px var(--sans);
    color: #474747;
    padding: 25px 40px ;
    border-radius: 50px;
    background-color: #ffe824;
    border: none;
    margin: 50px 0 0 100px;
}

.like{
    width: 200px;
    height: 200px;
    border-radius:50%;
    filter: drop-shadow(0px 16px 34px rgba(179,179,179,0.15));
    background-color: #ffffff;
    position: relative;
    margin: auto;
    overflow: hidden;
}
.lik{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px; 
}


/*SECTION2 CSS START*/

#section2{
    padding: 200px 0 150px 0;
}

#section2 h3{
    font: 400 33px var(--sans);
    color: #13287e;
    text-align: center;
    margin-bottom: 110px;
    text-align: center;
}

#section2 hr{
    width: 121px;
    height: 2px;
    background-color: #ffe824;
    margin-left: 70px;
}

#section2 h4{
    font: 400 28px var(--sans);
    color: #13287e;
    text-align: center;
    margin: 40px 0 20px;
}

#section2 p{
    font: 300 19px var(--sans);
    line-height: 33px;
    color: #474747;
    text-align: center;
}

#section2 img{
    padding-left: 95px;
}



/*SECTION3 CSS START*/

#section3{
    margin: 100px 0;
   
}

#section3 h1{
    font: 400 33px var(--sans);
    color: #13287e;
    text-align: center;
}

#section3 p{
    font: 300 20px var(--sans);
    line-height: 35px;
    color: #474747;
    text-align: center;
    margin: 60px;
}
#section3 .wiliam{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    filter: drop-shadow(0px 16px 34px rgba(179,179,179,0.15));
    background-color: #ffffff;
    position: relative;
    margin: auto;
    overflow: hidden;
    
}
#section3 .amanda{
    position: absolute;;
    left: 0;
    top: 15%;
    transform: translate(-9%, -9%);
}

#section3 h3{
    font: 400 19px var(--sans);
    line-height: 23px;
    color: #f7b74d;
    text-align: center;
    margin-top: 50px;
}

#section3 h4{
    font: 400 16px var(--sans);
    line-height: 23px;
    color: #717171;
    text-align: center;
}



/*SECTION4 CSS START*/

#section4{
    padding: 100px 150px;
}

#section4 h2{
    font: 400 33px var(--sans);
    color: #13287e;
    text-align: center;
}

#section4 p{
    font: 300 20px var(--sans);
    line-height: 35px;
    color: #474747;
    text-align: center;
    margin: 55px 0 95px;
}

#section4 .row .card h3{
    font: 400 26px var(--sans);
    color: #474747;
    text-align: center;
    margin-top: 20px;
}

#section4 .row .card div span:nth-child(1){
    font: 400 24px var(--sans);
    color: #474747;
}

#section4 .row .card div span:nth-child(2){
    font: 600 119px var(--sans);
    color: #008aff;
}

#section4 .row .card div span:nth-child(3){
    font: 400 24px var(--sans);
    color: #474747;
}

#section4 .row .card p{
    font: 300 17px var(--sans);
    line-height: 35px;
    color: #474747;
    text-align: center;
    margin: 20px 30px;
}

#section4 .row .card h4{
    font: 300 17px var(--sans);
    line-height: 35px;
    color: #474747;
    text-align: center;
}

#section4 button{
    width: 219px;
    height: 67px;
    border-radius: 34px;
    background-color: #ffe824;
    border: none;
    margin: 0 0 20px 50px;
}

#section4 .spann{
    text-align: center;
}



/*SECTION5 CSS START*/

#section5{
    padding: 200px 0 90px;
    background-image: url('../img/grup.png');
    background-size: cover;
}
#section5 .layer13{
    text-align: center;
    margin:80px auto;
    
}

#section5 div h1{
    font: 600 68px var(--sans);
    color: #13287e;
    text-align: center;
}

#section5 div p{
    font: 300 20px var(--sans);
    line-height: 35px;
    color: #474747;
    text-align: center;
    margin: 60px 50px;
}

#section5 div button{
    font: 600 14px var(--sans);
    color: #474747;
    background-color: #ffe824;
    padding: 30px 25px;
    border: none;
    border-radius: 50px;
    margin-left: 40%;
}


/*SECTION6 CSS START*/

#section6{
    padding: 120px 0 40px;
}

#section6 h1{
    font: 400 33px var(--sans);
    color: #13287e;
    text-align: center;
}

#section6 p{
    font: 300 20px var(--sans);
    line-height: 35px;
    color: #474747;
    text-align: center;
    margin: 50px 0 55px;
}

#section6 .row h2{
    font: 300 26px var(--sans);
    color: #13287e;
    margin: 55px 0 20px;
}

#section6 .row p{
    font: 300 20px var(--sans);
    line-height: 35px;
    color: #474747;
    margin-bottom: 30px;
}

#section6 .links{
    margin-top: 150px;
    text-align: center;
}

#section6 .links ul li a{
    font: 400 16px var(--sans);
    text-decoration: none;
    margin-left: 45px;
}

#section6 .links ul li{
    display: inline-block;
}

#section6 .links .active{
    color: #fff;
    background-color: #008aff;
    padding: 15px 30px;
    border-radius: 50px;
}


/*SECTION7 CSS START*/

#section7{
    padding: 35px;
    border-top: 1px solid #d8d8de;
    border-bottom: 1px solid #d8d8de;
}

#section7 img{
    height: 50px;
    cursor: pointer;
}

#section7 p{
    font: 400 24px var(--sans);
    color: #474747;
}

#section7 button{
    font: 400 16px var(--sans);
    border-radius: 34px;
    padding: 20px 15px;
    background-color: #ffe824;
    border: none;
    margin-top: 20px;
}

#section7 .paragraf p{
    font: 300 20px var(--sans);
    line-height: 35px;
    color: #474747;
}

#section7 input{
    border-radius: 3px;
    border: 2px solid;
    outline: none;
   
}

#section7 .but{
    background-color: #fff;
    color: #373737;
    border-color: black;
}

#section7 .hreff a{
    color: #474747;
    display: inline;
    font-size: large;
    margin-top: 20px;
    margin-left: 15px;
}



/* FOOTER CSS START */

footer{
    padding: 50px 0;
}

footer p{
    font: 300 12px var(--sans);
    color: #474747;
    text-align: center;
}

footer .sonlink{
    text-align: center;
}
footer a{
    font: 300 16px var(--sans);
    line-height: 30px;
    color: #474747;
    text-decoration: none;
}




/*RESPOMSIVE*/
@media only screen and (max-width:576px){
    #one .div1 a p{
        max-width: 300px;
    }
    #one .div2 {
        display: flex;
        justify-content: start;
    }
    .two div{
        display: flex;
        flex-direction: column;
    }
    
}
